<!-- src/app/student/hostel/hostel.component.html -->
<div class="container mt-4">
  <h2>Hostel Details</h2>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Hostel Information
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th>Student ID</th>
                <td>{{ student.id }}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ student.name }}</td>
              </tr>
              <tr *ngIf="hasHostel">
                <th>Hostel Block</th>
                <td>{{ student.hostel?.block }}</td>
              </tr>
              <tr *ngIf="hasHostel">
                <th>Room Number</th>
                <td>{{ student.hostel?.roomNo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Hostel Status
        </div>
        <div class="card-body">
          <div *ngIf="hasHostel" class="alert alert-success">
            <h5>You are allocated to hostel:</h5>
            <p>Block: {{ student.hostel?.block }}</p>
            <p>Room No: {{ student.hostel?.roomNo }}</p>
          </div>
          <div *ngIf="!hasHostel" class="alert alert-warning">
            <h5>You are not currently allocated to any hostel.</h5>
            <p>If you need hostel accommodation, please contact the hostel office.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>